<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoreanalysis.dao.CourseMapper">
  <resultMap id="BaseResultMap" type="com.scoreanalysis.bean.Course">
    <id column="uucid" jdbcType="VARCHAR" property="uucid" />
    <result column="cid" jdbcType="VARCHAR" property="cid" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
    <result column="credit" jdbcType="DOUBLE" property="credit" />
    <result column="kcsx" jdbcType="INTEGER" property="kcsx" />
    <result column="plan_id" jdbcType="VARCHAR" property="planId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    uucid, cid, cname, credit, kcsx, plan_id
  </sql>
  <select id="selectByExample" parameterType="com.scoreanalysis.bean.CourseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course
    where uucid = #{uucid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from course
    where uucid = #{uucid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.scoreanalysis.bean.CourseExample">
    delete from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.scoreanalysis.bean.Course">
    insert into course (uucid, cid, cname, 
      credit, kcsx, plan_id
      )
    values (#{uucid,jdbcType=VARCHAR}, #{cid,jdbcType=VARCHAR}, #{cname,jdbcType=VARCHAR}, 
      #{credit,jdbcType=DOUBLE}, #{kcsx,jdbcType=INTEGER}, #{planId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.scoreanalysis.bean.Course">
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uucid != null">
        uucid,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="cname != null">
        cname,
      </if>
      <if test="credit != null">
        credit,
      </if>
      <if test="kcsx != null">
        kcsx,
      </if>
      <if test="planId != null">
        plan_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uucid != null">
        #{uucid,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="credit != null">
        #{credit,jdbcType=DOUBLE},
      </if>
      <if test="kcsx != null">
        #{kcsx,jdbcType=INTEGER},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.scoreanalysis.bean.CourseExample" resultType="java.lang.Long">
    select count(*) from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update course
    <set>
      <if test="record.uucid != null">
        uucid = #{record.uucid,jdbcType=VARCHAR},
      </if>
      <if test="record.cid != null">
        cid = #{record.cid,jdbcType=VARCHAR},
      </if>
      <if test="record.cname != null">
        cname = #{record.cname,jdbcType=VARCHAR},
      </if>
      <if test="record.credit != null">
        credit = #{record.credit,jdbcType=DOUBLE},
      </if>
      <if test="record.kcsx != null">
        kcsx = #{record.kcsx,jdbcType=INTEGER},
      </if>
      <if test="record.planId != null">
        plan_id = #{record.planId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update course
    set uucid = #{record.uucid,jdbcType=VARCHAR},
      cid = #{record.cid,jdbcType=VARCHAR},
      cname = #{record.cname,jdbcType=VARCHAR},
      credit = #{record.credit,jdbcType=DOUBLE},
      kcsx = #{record.kcsx,jdbcType=INTEGER},
      plan_id = #{record.planId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.scoreanalysis.bean.Course">
    update course
    <set>
      <if test="cid != null">
        cid = #{cid,jdbcType=VARCHAR},
      </if>
      <if test="cname != null">
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="credit != null">
        credit = #{credit,jdbcType=DOUBLE},
      </if>
      <if test="kcsx != null">
        kcsx = #{kcsx,jdbcType=INTEGER},
      </if>
      <if test="planId != null">
        plan_id = #{planId,jdbcType=VARCHAR},
      </if>
    </set>
    where uucid = #{uucid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scoreanalysis.bean.Course">
    update course
    set cid = #{cid,jdbcType=VARCHAR},
      cname = #{cname,jdbcType=VARCHAR},
      credit = #{credit,jdbcType=DOUBLE},
      kcsx = #{kcsx,jdbcType=INTEGER},
      plan_id = #{planId,jdbcType=VARCHAR}
    where uucid = #{uucid,jdbcType=VARCHAR}
  </update>
</mapper>